# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / IDE related
*.iml
*.ipr
*.iws
.idea/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
flutter_*.png
linked_assets.yaml

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS / Xcode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/xcuserdata/
**/ios/.generated/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/**/GeneratedPluginRegistrant.*
**/ios/**/*.symbols
**/ios/**/linker.log
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcshareddata/

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# Project temp build logs (root level)
analyze.txt
build_apk_err.txt
build_apk_out.txt
build_apk2_err.txt
build_apk2_out.txt
build_apk3_err.txt
build_apk3_out.txt
build_log_apk.txt
build_log.txt
create_log.txt
flutter_version.txt
test.txt

# CodeBuddy agent data
.codebuddy/
